.deploy_template:
  stage: deploy
  image: gitlab.udevs.io:5050/docker/knative:dind
  before_script:
    - docker login $CI_REGISTRY --username $CI_REGISTRY_USER --password $CI_REGISTRY_PASSWORD
  script:
    - echo $K8SCONFIGJSON > tmp
    - yq -P tmp > /root/.kube/config
    - chmod 600 /root/.kube/config
    - cd $CI_PROJECT_NAME
    - func deploy --registry gitlab.udevs.io:5050/ucode/knative/$CI_PROJECT_NAME/ -n knative-fn --verbose


